@model SignUpForm
@{
    ViewData["Title"] = "Become an Admin";
    Layout = "~/Views/Shared/_Layout_CenterScreen.cshtml";
}


<section class="registration-form">
    <div class="container">
        <div class="logotype">
            <a asp-controller="Home" asp-action="Index">@ViewData["SiteName"]</a>
        </div>

        <h1>@ViewData["Title"]</h1>
        <form method="post" asp-action="Installation" asp-route-ReturnUrl="@Model.ReturnUrl" novalidate>
            <div class="registration-form-error-summary">
                <div asp-validation-summary="ModelOnly" class="error"></div>
            </div>
            <div class="registration-form-firstname">
                <input asp-for="FirstName" placeholder="@Html.DisplayNameFor(m => m.FirstName)" />
                <span asp-validation-for="FirstName" class="error"></span>
            </div>
            <div class="registration-form-lastname">
                <input asp-for="LastName" placeholder="@Html.DisplayNameFor(m => m.LastName)" />
                <span asp-validation-for="LastName" class="error"></span>
            </div>
            <div class="registration-form-email">
                <input asp-for="Email" placeholder="@Html.DisplayNameFor(m => m.Email)" />
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="registration-form-password">
                <input asp-for="Password" placeholder="@Html.DisplayNameFor(m => m.Password)" />
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="registration-form-confirmpassword">
                <input asp-for="ConfirmPassword" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword)" />
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <button class="btn-theme mt-3" type="submit">Submit</button>
        </form>
    </div>
</section>